	{% extends "base.html" %}
	{% block titulo %} Oferta {% endblock %}
	{% block contenido_principal %}
	<h2>Lista de ofertas propias</h2>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Titulo</th>
				<th>Descripción</th>
				<th>Detalle</th>
				<th>Precio</th>
				<th class="col-md-1"></th>
			</tr>
			</thead>
			<tbody>
			{% for oferta in ofertas %}
			<tr>
				<td>{{  oferta.title  }}</td>
				<td>{{  oferta.descripcion  }}</td>
				<td>{{ oferta.detalle }}</td>
				<td>{{ oferta.precio }}</td>
				{% if ! oferta.comprada %}
				<td><a id="delete" href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a> <br></td>
				{% else %}
				<td> VENDIDA </td>
			</tr>
			{% endif %}
			{% endfor %}

			</tbody>

		</table>

	</div>



	{% endblock %}
