	{% extends "base.html" %}
	{% block titulo %} Tienda – uoMusic {% endblock %}
	{% block contenido_principal %}
	<h2>Lista de usuarios </h2>
	<div class="row">
		<!-- Inicio del Bloque usuarios -->
		{% for usuario in usuarios %}
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
			<div style="width: 200px">
				<a href="/usuario/id">
					<div class="wrap"> Nombre: {{  usuario.name  }}</div>
					<div class="small"> Apellido : {{ usuario.lastname }} </div>
					<div class="small"> Email : {{ usuario.email }} </div>
					<div class="small"> Saldo : {{ usuario.saldo }} </div>
					<div class="small"> Role : {{ usuario.role }} </div>

				</a>
			</div>
		</div>
		{% endfor %}
		<!-- Fin del Bloque usuarios -->
	</div>

	{% endblock %}
