	{% extends "base.html" %}
	{% block titulo %} Tienda – uoMusic {% endblock %}
	{% block contenido_principal %}
	<h2>Lista de usuarios </h2>
	<form class="form-horizontal justify-content-center" method="post" action="/user/delete">

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th> </th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th class="col-md-1"></th>
			</tr>
			</thead>
			<tbody>
			{% for usuario in usuarios %}
			<tr>
				<td><input type="checkbox" name="emails" value={{ usuario.email }} ></td>
				<td>{{  usuario.name  }}</td>
				<td>{{ usuario.lastname }}</td>
				<td>{{ usuario.email }}</td>

			</tr>
			{% endfor %}
			</tbody>

		</table>
		<div >
			<button id="boton" type="submit" class="btn btn-primary">Eliminar</button>
		</div>
	</div>
	</form>


	{% endblock %}
